# basic authentication
AuthType basic
AuthName "Publicar paneles"
AuthUserFile /var/www/html/panel/.htpasswd
Require valid-user

# secure htpasswd file
<Files .htpasswd>
 order allow,deny
 deny from all
</Files>

# secure htaccess file
<Files .htaccess>
 order allow,deny
 deny from all
</Files>

# prevent viewing database credentials
<Files forum_data.php>
 order allow,deny
 deny from all
</Files>

# disable directory browsing
Options -Indexes

# default file
DirectoryIndex weekly_races.php
